{% if site.data.settings.education %}
<!-- education -->
<section class="section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.sections.education_title }}</h2>
      </div>
      {% for education in site.data.settings.education %}
      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex align-items-center">
          <div class="me-lg-5 me-3">
            <i class="ti-medall icon icon-bg glass shadow rounded-circle d-block text-primary"></i>
          </div>
          <div>
            <p class="text-color-dark mb-1 font-weight-bold">{{ education.date }}</p>
            <h4 class="text-white">{{ education.name }}</h4>
            <p class="mb-0 text-light">{{ education.organization }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /education -->
{% endif %}