{% if site.data.settings.experience %}
<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="section-title">{{ site.data.settings.sections.experience_title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="timeline">
          {% for experience in site.data.settings.experience %}
          <div class="timeline-item glass p-4 mb-4 rounded-lg position-relative shadow-lg" style="border-left: 4px solid $primary-color !important;">
            <div class="d-flex justify-content-between align-items-center mb-2 flex-wrap">
              <h4 class="text-white mb-0">{{ experience.name }}</h4>
              <span class="badge glass text-primary">{{ experience.date }}</span>
            </div>
            <h6 class="text-secondary font-weight-bold mb-3"><i class="ti-briefcase me-2"></i>{{ experience.organization }}</h6>
            <div class="d-flex align-items-center">
              {% if experience.url != "" %}
              <a href="{{ experience.url }}" class="btn btn-xs btn-outline-primary mt-2">{{ site.data.settings.labels.view_organization }}</a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./experience -->
{% endif %}